<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment 2</title>
    <link rel="stylesheet" href="a2">
</head>

<body>
    <h1>To delete a book, click on the red X button.</h1>
    <div class="content">
        <% if(data.length){ for(var i=0; i< data.length; i++) {%>
        <form action="<%= `books/${data[i].bookName}/delete?_method=DELETE`%>" method="POST">
            <table>
                <tr>
                    <td>
                        <button type="submit" data-ref="<%=i%>" class="books" id="<%=i%>" 
                            onclick="return confirm('Are you sure you want to delete this book?')">X</button>
                            <label for="<%=i%>"><%=data[i].bookName%></label>
                    </td>
                </tr>
            </table>
        </form>
            <% } }%>

            
    </div>
</body>
<footer>
    <div class="nav">
        <a href="/home">List of Books</a>
        <span id="sep">|</span>
        <a href="/AddNewBook">Add Book</a>
        <span id="sep">|</span>
        <a href="/DeleteABook">Delete A Book</a>
    </div>
</footer>
</html><!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment 2</title>
    <link rel="stylesheet" href="a2">
</head>

<body>
    <h1>To delete a book, click on the red X button.</h1>
    <div class="content">
        <% if(data.length){ for(var i=0; i< data.length; i++) {%>
        <form action="<%= `books/${data[i].bookName}/delete?_method=DELETE`%>" method="POST">
            <table>
                <tr>
                    <td>
                        <button type="submit" data-ref="<%=i%>" class="books" id="<%=i%>" 
                            onclick="return confirm('Are you sure you want to delete this book?')">X</button>
                            <label for="<%=i%>"><%=data[i].bookName%></label>
                    </td>
                </tr>
            </table>
        </form>
            <% } }%>

            
    </div>
</body>
<footer>
    <div class="nav">
        <a href="/home">List of Books</a>
        <span id="sep">|</span>
        <a href="/AddNewBook">Add Book</a>
        <span id="sep">|</span>
        <a href="/DeleteABook">Delete A Book</a>
    </div>
</footer>
</html>
